{% extends "base.html.twig "%}

{% block body %}
     
     <h1 class="bg-blue-500 text-2xl text-center font-bold">{{Projekt}}.</h1>

     <img src="{{asset('build/images/flamingo.2aeccacf.jpg')}}" alt="">

{% endblock %}